.container{
    display: grid;
    grid-template-areas: 
    "profile projects "
    "knowledge experience"
    "contact education";

    column-gap: 5px;
    row-gap: 5px;

    height: 100vh;
    width: 100vw;

    background-color: rgb(62, 53, 114);
}

.profile{
    grid-area: profile;
    background-color: grey;

    margin: 10px 10px;
    border-radius: 5px;
}
.contact {
    grid-area: contact;
    background-color: rgb(120, 107, 192);
    margin: 10px 10px;
    border-radius: 5px;
}

.knowledge{
    grid-area: knowledge;
    background-color: cadetblue;
    margin: 10px 10px;
    border-radius: 5px;
}

.projects{
    grid-area: projects;
    background-color: darkorange;
    margin: 10px 10px;
    border-radius: 5px;
}

.experience{
    grid-area: experience;
    background-color: royalblue;
    margin: 10px 10px;
    border-radius: 5px;
}


.education{
    grid-area: education;
    background-color:crimson; 
    margin: 10px 10px;
    border-radius: 5px;
}