body{
    background-color: #22212C;
}

h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    color: #837E9F;

    
    display:flex;
    justify-content: start;
    margin-left: 10px;
}


h4, h5, h6, li{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
    color: #837E9F;
    margin: 5px 0px 5px 0px;

}



p, a{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    align-self: center;
    color: #837E9F;

}




.container{
    display: grid;
    grid-template-areas: 
    "profile contact education"
    "experience experience knowledge"
    "projects projects projects";

    gap: 1px;

    margin-top: 100px;
    margin-bottom: 300px;
}

.profile{
    grid-area: profile;
    background-color: #302F3D;
    

    border-radius: 20px;
    border-right: solid 5px rgba(0, 0, 0, 0.452);
    border-bottom: solid 5px rgba(0,0,0,0.452);
    padding: 8px;
    margin:  10px 25px 25px 25px; /* superior/direiro/inferior/esq*/
}
.profileIcon{
    grid-area: profile;
    display: flex;
    justify-content: center;
    position: relative;
    top: -15px;

}

.profileIcon img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.profilePicBG{
    grid-area: profile;
    background-color: white;
    border-radius: 50%;
    border: solid greenyellow;
    
    width: 100px;
    height: 100px;
    
    padding: 5%;
    margin: auto;
    margin-top: 10%;
}



.profile h2, p{
    grid-area: profile;
    display: block;
    text-align: center;   
    margin: 20px 0px 20px 0px;
}


.contact {
    grid-area: contact;
    background-color: #302F3D;
    margin: 10px 25px 25px 25px;
    
    border-radius: 20px;
    border-right: solid 5px rgba(0, 0, 0, 0.452);
    border-bottom: solid 5px rgba(0,0,0,0.452);

    display: grid;
    grid-template-rows: repeat(3, 1fr);

    justify-items: start;
    justify-content: space-between;
}

.contact h2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.contact a{
    grid-column: 2;
    text-decoration: none; 
    margin: 5px 0px 5px 5px;
    justify-self: start;
    
}


.contact img{
    width: 30px;
    height: 30px;
    grid-column: 1;
    justify-self: start;
    align-self: flex-start;
    margin: 20px 5px 15px 10px
    
}

.knowledge{

    grid-area: knowledge;
    background-color: #302F3D; 
    margin: 10px 25px 25px 25px;;
    
    border-radius: 20px;
    border-right: solid 5px rgba(0, 0, 0, 0.452);
    border-bottom: solid 5px rgba(0,0,0,0.452);

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    justify-items: center;
    
}

.knowledge h2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-self: normal;
}

.knowItem{
   
    background-color: #CB92B1;
    border-radius: 100px;
    
    width: 100px;
    height: 20px;
    
    padding: 8px;
}
.knowledge p{

    text-align: center;
    margin: auto;
    color: #22212C;
    font-weight: 600;
    text-transform: uppercase;
}

.projects{
    grid-area: projects;
    background-color: #302F3D; 
    margin: 10px 25px 25px 25px;;
    
    border-radius: 20px;    
    border-right: solid 5px rgba(0, 0, 0, 0.452);
    border-bottom: solid 5px rgba(0,0,0,0.452);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: auto;
}

.projects h2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
}

.projects a{
    text-decoration: none; 
    color: rgb(51, 43, 94); 
}

.projectCard{
    background-color:  #22212C;
    border-radius: 15px;
    margin: 5px;
    padding-right: 10px;
    border-right: solid 5px #837e9f48;
    border-bottom: solid 5px #837e9f48;
    
    width: 400px;
    height: 200px;
}

.projectCard p{
    margin: 10px 5px;
    
    width: 400px;
    height: 100px;

    display: flex;
    justify-content: center;
}

.projectCard footer{
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    
}

.projectCard h4{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.education{
    grid-area: education;
    background-color: #302F3D; 
    margin: 10px 25px 25px 25px;
    
    border-radius: 20px;
    border-right: solid 5px rgba(0, 0, 0, 0.452);
    border-bottom: solid 5px rgba(0,0,0,0.452);
}
.experience{
    grid-area: experience;
    background-color: #302F3D; 
    margin: 10px 25px 25px 25px;
    padding: 0px 10px;
    border-radius: 20px;
    border-right: solid 5px rgba(0, 0, 0, 0.452);
    border-bottom: solid 5px rgba(0,0,0,0.452);
}

.experience h4, h5, h6{
    margin-left: 10px;
}
