body{
    background-color: rgb(62, 53, 114);

}
.container{
    display: grid;
    grid-template-areas: 
    "profile projects "
    "knowledge experience"
    "contact education";

    gap: 5px;

    height: 100vh;
    width: 100vw;

}

.profile{
    grid-area: profile;
    justify-self: stretch;
    background-color: grey;
    

    border-radius: 5px;
    padding: 8px;
    margin: 0vh 40vw 0vh 5vw; /* superior/direiro/inferior/esq*/
}

.profilePicBG{
    grid-area: profile;
    background-color: white;
    border-radius: 50%;
    
    width: 100px;
    height: 100px;
    
    padding: 5%;
    margin: auto;
    margin-top: 10%;
}

.profileIcon{
    /* LEMBRAR DE VOLTAR PARA ESTILIZAR O TEXTO*/
    grid-area: profile;
    display: flex;
    justify-self: center;
    align-items: center;
   /* margin: 25%;*/
}


.profileText{
    /* LEMBRAR DE VOLTAR PARA ESTILIZAR O TEXTO*/
    grid-area: profile;
    text-align: center;   
    margin-top: 15%;
}


.contact {
    grid-area: contact;
    background-color: rgb(120, 107, 192);
    margin: 10px 50px 25px 50px;
    border-radius: 5px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);

    

    gap: 5px;
    justify-items: center;
    
}

.contact h1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.contact a{
    grid-column: 2;
    text-decoration: none; 
    color: rgb(62, 53, 114); 
    margin: 25px 0px 25px 0px;
    justify-self: start;
}

.contact img{
    grid-column: 1;
    justify-self: end;
    margin: 20px 5px 15px 0px
}
.knowledge{

    grid-area: knowledge;
    background-color: cadetblue;
    margin: 10vh 10vw;
    border-radius: 5px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
 
}

.knowledge h1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.knowItem{

    background-color: orange;
    border-radius: 25px;
    
    width: 100px;
    height: 25px;
    
    padding: 8px;
}
.knowText{
    text-align: center;
    margin: auto;
}

.projects{
    grid-area: projects;
    background-color: darkorange;
    margin: 10vh 10vw;
    border-radius: 5px;
}

.experience{
    grid-area: experience;
    background-color: royalblue;
    margin: 10vh 10vw;
    border-radius: 5px;
}


.education{
    grid-area: education;
    background-color:crimson; 
    margin: 10vh 10vw;
    border-radius: 5px;
}